[
    {
        "name": "Test demo",
        "files": [ "shortstring_demo.c" ],
        "compilation_cmd": "-I ."
    },
    {
        "name": "Test test.c",
        "files": [ "test.c" ],
        "compilation_cmd": "-I."
    },
    {
        "name": "test simple_test.c",
        "files": [ "simple_test.c" ],
        "raw_options": {"-val-builtin": "scanf:"},
        "file_system": {
            "files" : [{"name": "tis-mkfs-stdin", "from": "stdin.txt"}]
        }
    }
]
