[
    {
        "name": "Test demo",
        "files": [ "shortstring_demo.c" ],
        "compilation_cmd": "-I .",
        "raw_options": {"-val-builtin": "scanf:"},
        "filesystem": {
            "files" : [{"name": "tis-mkfs-stdin", "from": "stdin.txt"}]
        }
    },
    {
        "name": "Test test.c",
        "files": [ "test.c" ],
        "compilation_cmd": "-I."
    },
    {
        "name": "Test simple_test.c",
        "files": [ "simple_test.c" ],
        "raw_options": {"-val-builtin": "scanf:"},
        "filesystem": {
            "files" : [{"name": "tis-mkfs-stdin", "from": "stdin.txt"}]
        }
    },
    {
        "name": "Test simple_test.c: set new builtin name to space",
        "files": [ "simple_test.c" ],
        "raw_options": {"-val-builtin": "scanf: "},
        "filesystem": {
            "files" : [{"name": "tis-mkfs-stdin", "from": "stdin.txt"}]
        }
    }
]
